// Variaveis SASS 
$cor-padrao: darken(#C34D4A, 5);
$cor-auxiliar: complement(#1e2c35);
$cor-branca: #fff;

$ponto-de-quebra: 980px;

$tamanho-fonte-padrao: 16px;

@function multiplica-fonte-padrao($multiplicador) {
  @return round($multiplicador * $tamanho-fonte-padrao);
}

$mq-mobile: "(max-width: 980px)";

